.skills_main_container{
  display: grid;
  margin-top: 32px;
}

.skills_title{
  font-size: 20px;

}

.skills_list{
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 28px;
}

.skill_item{
  display: grid;
  justify-items: center;
  background-color: #2c2c38;
  padding: 25px 25px 30px 25px;
}

.image{

}

.skill_title{
  justify-self: start;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #f2f2f3;
}

.skill_description{
  color: #8c8c8e;
  line-height: 1.6;
  font-size: 14px;
}


