.mostrar{
  display: grid;
}
.no_mostrar{
  display: none;
}
.modal_container{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  justify-items: start;
  align-items: start;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}
.modal_content{
  width: 100%;
}
