.layout_container{
  background-color: #191923;
  display: grid;
  justify-items: center;
}

.content_container{
  background-color: #191923;

  display: grid;
  justify-items: center;
  max-width: 1800px;
  margin: 0 auto;
}

.main_container{
  margin-left: 400px;
  padding: 40px 0 5px 0;
  max-width: 1400px;
  background-color: #191923;

}

@media screen and ( max-width: 1050px) {
  .main_container{
    margin: 0;
    padding: 40px 10px 5px 10px;
  }

}
.mostrar{
  display: grid;
}
/*--------*/
.no_mostrar{
  display: none;
}